<header id="header">
    <div class="header-logo">
        <a href="/"><h3>blog.fjchen.net</h3></a>
    </div>

    <div class="nav">
        <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/archive">archive</a></li>
            <li><a href="https://github.com/inlorfaze/"><%- image_tag('img/GitHub-Mark-32px.png') %></a></li>
        </ul>
    </div>
</header>