@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed|IBM+Plex+Sans:100,400,400i,700');

a {
    
}
::selection {

}
@media (max-width:480px) {
    img {
    width:100%;
    height:auto;
    }
}

* {
    font-family:'Ibm Plex Sans';
}

p {
    letter-spacing: 0.5px;
}
.article-header, .article-inner, .article-footer {
    
}
.article-header {
    font-family:'Ibm Plex Sans';
    font-weight:700;
}

.article-inner {

}

.article-wrap {
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
}

#header {
    height:60px;
}

.header-logo {
    float:left;
    margin-left:10px;
}

.nav {
    height:100%;
    text-align: center;
    float:right;
    left:80px;
}
.nav ul {
    list-style-type: none;
    margin:0;
    padding:0;


}

.nav li {
    padding:19px 10px;
    display:inline-block;
}

.nav li a:hover {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    color:black;
    text-decoration: none;
}

@media screen and (min-width:700px) {
    .wrap {
        width: 700px;
        margin: 0 auto;
    }
}

@media screen and (max-width:700px) {
    .wrap {
        width:100%;
    }
}


.recent-posts {
    margin:0 10px;
}

.recent-posts ul {
    list-style:none;
    padding:0;
    margin:0;
}

.recent-posts li {
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom:10px;
    padding: 10px 20px;
}

.post-excerpt {

}

/* Read more link on each post */
.read-more {
    float:right;
}

footer {
    
}

#footer-info {
    margin:15px;
    text-align:center;
}

.article-tag-list {
    list-style: none;
    margin:0;
    padding:0;
    display:block;
    height:30px;
}
.article-tag-list-item {
    display:inline;
    float:left;
}

.article-tag-list-link {
    transition:0.4s ease-out;
    display:block;
    text-align: center;
    border:1px solid black;
    border-radius:1px;
    padding:.3rem .5rem;
    margin-right:.3rem;
    color:black;
}

.article-tag-list-link:hover {
    background-color:black;
    color:white;
    text-decoration: none;
}
