<div class='row'>
        <a class='btn' href='/'>< Home</a>
       </div>
       <div class='row article-wrap'>
        <h1 class='article-header'><%- page.title %></h1>
        <div class='text-muted'>
    
        </div>
        <div class="article-inner">
            <%- page.content %>
        </div>
    
        <div class="article-footer">
            <hr>
            <p>Author: <%- config.author %></p>
    
        </div>
       </div>