<div class="row">
        <h1 class="text-center">archives</h1>
        <hr>
        
</div>

<script type="text/javascript">
   hexo.extend.generator.register('archive', function(locals){
  return {
    path: 'archives/index.html',
    data: locals,
    layout: ['archive', 'index']
  }
});
</script>