<div class='row'>
    <a class='btn btn-default' href='/'>< Home</a>
   </div>
   <div class='row article-inner'>
    <h1 class='article-header'><%- page.title %></h1>
    <div class='text-muted'>
           <%= date(page.date, config.date_format) %> 
       </div>
    <%- page.content %>
   </div>